*{
padding: 0;
margin: 0;
box-sizing: border-box;    
}

#main {
    font-family: Arial, Helvetica, sans-serif;

}

#header {
    height: 100px;
    background-color: #f5f5f5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:0 50px;

}
.logo h1 {
    font-size: 28px;
}
.logo p {
    color: goldenrod;
    letter-spacing: 3px;
}

#nav li {
    display: inline-block;
}
#nav li a {
    
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}
#nav li:hover a {
    color: #ccc;
    background-color: #000;
}

button {
    
    color: white;
    background-color: gold;
    
    border: none;
    padding: 15px 25px;

    border-radius: 10px;

    font-size: 16px;
    
}