*{
padding: 0;
margin: 0;
box-sizing: border-box;    
}

#main {
    font-family: Arial, Helvetica, sans-serif;

}
#header{
    width: 95%;
    height: 80px;

    background-color: white;

    border-radius: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
}
.logo h1,
.logo p{
    margin: 0;
}

.logo h1{
    font-size: 20px;
    line-height: 1;
}

.logo p{
    font-size: 11px;
    color: #d4af37;

    letter-spacing: 1px;

    margin-top: -2px;
}

#nav li {
    display: inline-block;
}
#nav li a {
    
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}
#nav li:hover a {
    color: #ccc;
    background-color: #000;
}

button {
    
    color: white;
    background-color: gold;
    
    border: none;
    padding: 15px 25px;

    border-radius: 10px;

    font-size: 16px;
    
}